body{
    display: block;
    margin: auto;
    width: 90%;
    background-color: #f6f7f6;
    color: #494849;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

header{
    display: block;
    margin: auto;
    width: 100%;

}
h1{
    text-align: center;
    font-size: 23px;
}
.fotito{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-top: 40px;
    margin-bottom: 5px;
    transition: 0.4s;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

.fotito:hover{
    scale: 1.1;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

a{
    text-decoration: none;
    color: #1a1a1a;
}

a:hover{
    color: #607D8B;
}

a:active{
    color: #FFA000;
}

nav ul{
    text-align: center;
    padding: 0%;
    margin-bottom: 12px;
}

nav ul li{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 1%;
}

nav ul li:hover{
    transform: scale(1.06);
}

nav ul li:active{
    transform: scale(0.90);
}

#section{
    margin-top: 10px;
}

section ul{
    padding: 0;
    margin-top: 18px;
    margin-bottom: 10px;
}
section ul li{
    list-style: none;
    color: #1a1a1a;
}
.btn{
    background-color: #607D8B;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    list-style: none;
    display: block;
    width: 30%;
    margin: 15px auto;
    border-radius: 1px;
    text-decoration: none;
    transition: 0.2s;
    height: 25px;
    text-align: center;
    height: 25px;
    padding: 18px 18px 10px 18px;
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}
.btn:hover{
    background-color: #FFA000;
    transform: scale(1.03);
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    color: #494849;
}
.btn:active{
    background-color: #F57C00;
    transform: scale(0.97);
}
section p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    color: #494849;
    line-height: 140%;
}

hr{
    margin-top: 18px;
}

footer{
    margin: auto;
    text-align: center;
    padding: 11px 0px 12px 0px;
}
